---
layout: archive
---

<p><h1>{{ page.title }}{% if page.pubdate.size > 0 %} [{{page.pubdate}}]{% endif %}</h1></p><hr>
<p>{% if page.author.size > 0 %}{{page.author}}<hr>{% endif %}</p>
<p>{% if page.institutions.size > 0 %}{{page.institutions}}<hr>{% endif %}</p>{{ content }}<hr>
  {% if page.doi.size > 0 %}<p><a href="{{page.doi}}" target="_blank rel=&quot;noopener">{{page.doi}}</a><hr>{% endif %}</p>
  {% if page.tags.size > 0 %}<h2>Tags:</h2><span><ul>
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag | replace: " ","_"  }}{% endcapture %}
    <a href="{{ site.url }}{{ site.baseurl }}/tag/{{ tag_name }}"><code class="highligher-rouge"><li>{{ tag }}</li></code></a>
    {% endfor %}</ul>
</span>
<hr>
{% endif %}



