/*
 * Globals
 */
/* Links */
/* Custom default button */
/*
 * Base structure
 */
/*
 * Header
 */
/*
 * Cover
 */
/*
 * Footer
 */
@keyframes "pulse" {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}
a {
	color: #fff;
	&:focus {
		color: #fff;
	}
	&:hover {
		color: #fff;
	}
}
.btn-secondary {
	color: #333;
	text-shadow: none;
	background-color: #fff;
	border: .05rem solid #fff;
	&:hover {
		color: #333;
		text-shadow: none;
		background-color: #fff;
		border: .05rem solid #fff;
	}
	&:focus {
		color: #333;
		text-shadow: none;
		background-color: #fff;
		border: .05rem solid #fff;
	}
}
html {
	height: 100%;
	background-color: #2c3e50;
}
body {
	height: 100%;
	background-color: #2c3e50;
	display: -ms-flexbox;
	display: flex;
	color: #fff;
	text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
.cover-container {
	max-width: 42em;
}
.masthead {
	margin-bottom: 2rem;
}
.masthead-brand {
	margin-bottom: 0;
}
.nav-masthead {
	.nav-link {
		padding: .25rem 0;
		font-weight: 700;
		color: rgba(255, 255, 255, .5);
		background-color: transparent;
		border-bottom: .25rem solid transparent;
		&:hover {
			border-bottom-color: rgba(255, 255, 255, .25);
		}
		&:focus {
			border-bottom-color: rgba(255, 255, 255, .25);
		}
		+ {
			.nav-link {
				margin-left: 1rem;
			}
		}
	}
	.active {
		color: #fff;
		border-bottom-color: #fff;
	}
}
.cover {
	padding: 0 1.5rem;
	.btn-lg {
		padding: .75rem 1.25rem;
		font-weight: 700;
	}
}
.mastfoot {
	color: rgba(255, 255, 255, .5);
}
#colorpick {
	display: inline-block;
	width: auto;
	height: 55px;
	text-shadow: none;
}
#colorpick.radio-btns {
	height: auto;
	text-align: left;
}
.heart {
	fill: #ffffff;
	position: relative;
	height: 15px;
	top: 2px;
	width: 36px;
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@media (min-width: 48em) {
	.masthead-brand {
		float: left;
	}
	.nav-masthead {
		float: right;
	}
}

